<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">		
		<title>MOVE</title>
		<link rel="shortcut icon" href="/images/favicon.png">
		<!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />	
		<link rel="stylesheet" href="/stylesheets/main.css">

		<!--하이퍼링크 액션 없애주기-->
		<style type="text/css">
		a {color:none; text-decoration: none;}
		
		</style>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="./images/respond.min.js"></script>
		<![endif]-->
		<!--[if IE 7]>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">        
		<![endif]-->
	</head>

	<body>
		<!--header-->
		<% if(message){ %>
			<script>alert('이메일을 인증해주세요');</script>
		<% } else if(failLogin) { %>
			<script>alert('아이디 또는 비밀번호를 잘못입력하셨습니다. 다시입력해주세요.')</script>
		<% } %>

		<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" href="/users/login" style="color:#626262;">MOVE</a>
				</div>
				<div class="collapse navbar-collapse">
				</div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		</header><!-- /.navbar -->
		
		<!--main-->
		<div class="container">
				<div class="main" style="position:fixed">
					<img src="/images/일러스트_메인.png" style="width:75%"  >
				</div>	
				<!--form-->
				<form method="post">
					<div class="login">
						<h2 class="login_head">간편해진 자습시간<br>이동 시스템</h2>
						<a id="login_sign">로그인</a>
						<label for="inputEmail" class="loginbox"></label>
						<input type="email" name="email" id="inputEmail" class="form-control" placeholder="  이메일" required autofocus>
						<input type="password" name="password" id="inputEmail" class="form-control" placeholder="  비밀번호" required autofocus>
						<button class = "btn" type="submit" style="color : #ffffff">로그인</button>
						<div class="signin">아직 가입을 안하셨나요? <a href="/users/signin_select" style="color:#1D6FCF">회원가입하기</a></div>
					</div>
				</form>
				
				<div class="bottom">
					<hr style="width:100%">
				</div>
					
		</div><!--/.container-->
		



		<footer>
			<p>&copy; 김여진 천영민</p>
		</footer>
		
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/javascripts/jquery-1.11.2.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/style.js"></script>		
	</body>
</html>
