<html>
    <body>
        <div>
            <p style="color:black">회원가입을 위한 이메일인증입니다.</p>
            <p style="color:black">아래의 링크를 클릭해주세요.</p>
            <a href="http://localhost:3000/auth/?email"+<%= email %>+"&token="+<%= authCode %>}`>인증하기</a>
        </div>
    </body>
</html>